/** Color Plate

Background: #7dc2ad
Red: #e27d5f
Blue: #85cdca
Orange: #e8a87c
Pink: #c38d9d
Green: #40b3a2

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
  background: #7dc2ad;
  max-height: 100%;
  text-align: center;
  min-height: 100%;
}

body {
  animation: fade-in 1.5s 0.5s both;
  font-size: 0;
}

main {
  margin: 50px 10px;
}

button {
  background: transparent;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: none;
}

.btn {
  background: #fff;
  color: #386250;
  padding: 18px 10px 9px;
  border-radius: 100px;
  font-weight: 600;
  font-size: 15px;
  margin: 2.5%;
  transition: background 0.3s, transform 50ms;
  width: 45%;
  display: inline-block;
  line-height: 1.2em;
}

.btn-meta {
  color: #c38d9d;
  font-size: 10px;
  display: block;
}

.btn-full {
  width: 95%;
}

.btn-simple {
  width: 28.333%;
}

.btn-primary {
  width: auto;
  padding: 16px;
}

.btn.is-active {
  background: #ffe389;
  /*color: #fdfdfd;*/
}

.btn.btn-on {
  background: #85cdca;
  color: #fdfdfd;
}

.btn.btn-off {
  background: #e27d5f;
  color: #fdfdfd;
}

.btn.is-touch-active {
  transform: scale(0.95);
}

.btn-group {
  margin-bottom: 25px;
  text-align: right;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
