* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
  color: #333;
  /*background: #009FE3;*/
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  max-height: 100%;
	text-align: center;
}


body {
  background: #fdfdfd;
	animation: fade-in 1.5s .5s both;
}

button {
	background: transparent;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: none;
}

.btn {
	background: #fff;
	color: #333;
	padding: 25px 15px;
	border-radius: 0.16667rem;
	box-shadow: 0.05556rem 0.05556rem 0.44444rem rgba(0, 0, 0, 0.25);
	font-weight: 600;
	margin: 2.5%;
	transition: background 0.3s;
	width: 45%;
	display: inline-block;
}

.btn-full {
	width: 95%;
}

.btn-simple {
	width: 28.333%;
}

.btn.is-active {
	background: #009FE3;
	color: #fdfdfd;
}

.btn.btn-on {
	background: #1BD032;
	color: #fdfdfd;
}

.btn.btn-off {
	background: #A6250F;
	color: #fdfdfd;
}

.btn.is-touched {
	box-shadow: inset 0.05556rem 0.05556rem 0.44444rem rgba(0, 0, 0, 0.25);
}

.btn-group {
	margin-bottom: 25px;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}