* {
	margin: 0;
	padding: 0;
}
html {
	font-family: 'Roboto', sans-serif;
	background: #f9f9f9;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	height: 100%;
}

body {
	height: 100%;
	padding: 0 2em;
}
.col {
	overflow: hidden;
}
.col:last-of-type {
	padding: 0 0 2em;
}

h1 {
	font-size: 1.4em;
	text-align: center;
	padding: 0.5em 0 0.25em;
	margin-bottom: 0.5em;
	border-bottom: 1px solid #000;
	clear: both;
	font-weight: 300;
}
button {
	width: 45%;
	margin: 0 2.5%;
	display: inline-block;
	padding: 1em 0;
	background: #d1d1d1;
	border: none;
}
.touch-active:active {
	background: #00a2ff;
}

@media all and (min-width: 600px) {
	.col {
		float: left;
		width: 45%;
		margin: 0 2.5%;
		padding: 0 0 2em;
	}
}